.blogs-page {
  .current-cat {
    .category-item  {
      background: #ff6600 !important;
      color: #fff !important;
    }
  }

  .blog-list-link {
    color: #4f4d53;
  }

  .nav-menu-button:hover {
    .blog-list-link {
      color: #000;
    }
  }

  .blogs-custom {
    width: calc(100% + 30px);
  }
}

.home-blog-part {
  .thumbnail {
    height: 300px;
  }
}

.blog-title {
  font-size: 14px;
}

.click-video {
  cursor: pointer;
}

.iframe-video-image {
  position: relative;

  .disable-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
  }
}

.modal-video {
  z-index: 999999 !important;

  .modal-custom {
    width: 50%;
    height: auto;
  }
}

.modal-video-content {
  height: 60vh;
  margin-top: 10vh;

  .modal-body {
    height: calc(100% - 50px);
  }
}
