.price-add-to-cart-wrap {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.woocommerce-LoopProduct-link {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px !important;
    max-height: 40px;
    word-break: break-word;
}

.block_product_content h3 {
	white-space: inherit !important;
}

.home, #tm_willard_products-4, .woocommerce-LoopProduct-link, .product_title, h1, h2, h3, h4, h5, div, aside, ul, li, a, button, span:not(.fa, .icon, .glyphicon) {
	font-family: sans-serif !important;
}

.add_to_cart_button-left-menu {
	white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.product-row-block {
    margin-bottom: 15px;
}

.contact-information-widget__inner .contact-information__item--icon {
    text-transform: none !important;
}

.block-product-title {
    text-transform: none !important;
    overflow: hidden;
    width:200px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.brand-button-title {
    font-size: 15px !important;
}
