<div class="list-categories-content">
  <% Field.all.each do |field| %>
    <div class="category-box-item">
      <% if params[:media_type] == "0" %>
        <%= link_to field.name, friendly_field_document_path(field), class: "category-item media-custom", title: field.name %>
      <% else %>
        <%= link_to field.name, friendly_field_video_path(field), class: "category-item media-custom", title: field.name %>
      <% end %>
    </div>
  <% end %>
</div>
