<div class="home-blog-part container td-blog-mobile">
  <div class="row">
    <div class="col-xs-12">
      <div class="typical-products-title brand-title">
        <p class="typical-product-brand">Tin công nghệ</p>
      </div>
    </div>
    <div class="tm-posts_listing">
      <div class="row-mobile-custom">
        <div class="col-xs-12">
          <% @blogs.each do |blog| %>
            <div class="col-xs-6 col-mobile-custom">
              <div class="thumbnail">
                <div class="blog-image">
                  <%= link_to blog_detail_path(blog) do %>
                    <%= image_tag blog.feature_image_thumb_url, class: "lazy", alt: blog.feature_image_alt, title: blog.feature_image_title %>
                  <% end %>
                </div>
                <div class="caption">
                  <h3 class="blog-product-title"><%= link_to blog.title, blog_detail_path(blog) %></h3>
                  <div class="tm-posts_item_meta entry-meta pull-right">
                    <a class="text-right text-sm"><small>Ngày đăng: <%= blog.created_at.strftime(Settings.format.created_at) %></small></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
