<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="brand-title">
        <p class="typical-product-brand">Chứng chỉ - Ủy quyền</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div id="certificate" class="carousel slide certificate-class" data-ride="carousel">
        <div class="carousel-inner">
          <% @certificates.each_with_index do |group, idx| %>
            <div class="item <%= 'active' if idx == 0 %>">
              <% group.each do |cert| %>
                <% if cert.present? %>
                  <div class="col-xs-4">
                    <%= image_tag cert&.img&.url, class: "img-responsive width-100-percent" %>
                    <div class="certificate-title">
                      <p><%= cert&.title %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <a class="left carousel-control" href="#certificate" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#certificate" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>
