<div class="navbar-menu">
  <div class="container">
      <div class="navbar-menu-list">
        <div class="nav-menu-button">
          <i class="fa fa-bars icon-home-nav"></i>
          <span class="jet-dropbar__button-text">Danh mục</span>
        </div>
        <div class="list-categories">
          <%= render "categories" %>
        </div>
      </div>
  </div>
</div>
