<% @home_blocks.each do |block| %>
  <% block.each_with_index do |category, index| %>
    <div class="typical-products-mobile container">
      <div class="row-mobile-custom">
        <div class="col-xs-12 col-mobile-custom">
          <div class="typical-products-title brand-title">
          <p class="typical-product-brand"><%= category[:title] %></p>
          </div>
        </div>
        <div class="tm-posts_listing">
          <div id="menu<%= category[:id] %>" class="tab-pane fade in <%= 'active' if index == 0 %>">
            <% category[:products][0..1].each do |product| %>
              <div class="col-xs-6 col-sm-3 col-mobile-custom">
                <%= render "product_field", product: product %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
