.brand-advertisement {
  margin-top: 10px;

  .promotions {
    margin: 0;
    width: 100%;
    position: relative;

    .promotions-image {
      width: 100%;
    }
  }

  .products-message {
    margin: 0;
    width: 100%;
    position: relative;

    .products-image {
      width: 100%;
    }
  }
}

.padding-left-0 {
  padding-left: 0 !important;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

@media (max-width: 576px) {
  .padding-left-0 {
    padding-left: 15px !important;
  }
}

.typical-products {
  margin-top: 10px;
  margin-bottom: 10px;

  .block_product_content {
    h3 {
      font-size: 17px !important;
      line-height: 1 !important;
      margin: 0 !important;
    }

    a {
      line-height: 1.7 !important;
      height: auto !important;
      .woocommerce-LoopProduct-link {
        line-height: 1.7 !important;
        height: auto !important;
        max-height: auto !important;
      }
    }

    a:hover {
      text-decoration: none;
    }

    .price, .woocs_price_code {
      font-size: 15px;
      color: red;
      font-weight: bold !important;
      line-height: 1 !important;
      height: auto !important;
    }
  }
}

.brand-title {
  margin-bottom: 5px;
  margin-top: 15px;
  background-color: #f3f3f3;
  padding: 15px 0px 15px 20px;
  text-align: center;

  .typical-product-brand {
    line-height: 1;
    font-weight: bold;
    color: #4f4d53;
  }

  ul {
    line-height: 1;

    .list-product-category {
      margin: 0 10px;
      display: inline-block;
    }
  }
}

.customer-message {
  background-image: url(/assets/medical.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 5px;
  padding: 15px 0;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(7,23,55,0.75);
    top: 0;
    left: 0;
  }

  .customer-info {
    color: #fff !important;
  }

  .w-75 {
    width: 75% !important;
    float: left;
  }

  .w-25 {
    width: 25% !important;
    float: left;
  }

  .quote-icon {
    padding-top: 20px
  }

  .carousel-inner {
    width: 70% !important;
    margin: 0 auto;
    color: #fff;
  }

  .customer-data {
    float: left;

    img {
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
      width: 60px;
      float: left;
    }
  }

  p.customer-data {
    width: calc(100% - 60px);
    padding-left: 10px;
  }
}

.certificate-class {
  margin-top: 5px;
  padding: 15px 0;

  .carousel-inner {
    width: 70% !important;
    margin: 0 auto;
    color: #fff;
  }
}

.typical-projects {
  .project-image-1 {
    margin: 0;
    width: 100%;
    position: relative;

    a:hover {
      text-decoration: none;

      .project-title {
        color: #ffd71a !important;
      }
    }
  }

  .project-image-2 {
    margin: 0;
    width: 100%;
    position: relative;

    a:hover {
      text-decoration: none;

      .project-title {
        color: #ffd71a !important;
      }
    }
  }

  .project-image-2:first-child, .project-image-2:nth-child(2) {
    margin-bottom: 15px;
  }

  .project-title {
    color: #333;
    overflow: hidden;
    position: relative;
    line-height: 2em;
    max-height: 4em;
    text-align: justify;
    margin-right: 0em;
    padding-right: 1.5em;
  }

  .project-title:before {
    content: '. . .';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .project-title:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.2em;
    background: white;
  }
}

.width-100-percent {
  width: 100% !important;
}

.height-100-percent {
  height: 100%;
}

.config-padding-30-0 {
  padding-right: 0;
  padding-left: 30px;
}

.banner {
  width: calc(100% - 250px);
  margin-left: 250px;

  .banner-images-class {
    height: 376px;
  }

  .carousel-inner {
    height: 376px !important;
  }

  .item-1 {
    background-image: image-url('660_282.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }

  .item-2 {
    background-image: image-url('660_282.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }

  .item-3 {
    background-image: image-url('660_282.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100% !important;
    margin-left: 0;
    padding: 0 15px;
  }

  .config-padding-30-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .list-product-project {
    margin-top: 15px;
  }

  .navbar-menu-list {
    margin-left: -15px;
    margin-right: -15px;

    .list-categories-content {
      display: none;
      opacity: 0;
    }
  }
}

.title-custom {
  padding: 10px 0px 0px 20px;

  .nav-tabs-custom {
    display: inline-table;
    border-bottom: 0;

    a {
      color: #555;
    }

    a:hover {
      background-color: #d6d6d6 !important;
    }
  }
}

.typical-products {
  // Fix css product
  .block_product_content {
    padding-top: 0 !important;

    h3:before {
      display: none !important;
    }
  }

  .woocommerce-LoopProduct-link {
    text-transform: inherit !important;
  }
}

.nav-tabs-custom {
  .active {
    a {
      background-color: transparent !important;
      border: none !important;
      color: #ffd71a !important;
    }
  }
}

.certificate-title {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  text-align: center;
/*  font-weight: bold;
  line-height: 80px;*/
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  letter-spacing: normal !important;
}

.short-description-detail:after {
  background: transparent !important;
}

.image-link, .image-link:hover {
  color: white;
}
