.navbar-menu {
  margin-bottom: 0px;
  position: relative;
  height: 33px;
  background: #e6e6e6;

  .navbar-menu-list {
    position: relative;
  }

  .nav-menu-button {
    padding: 8px 0 8px 20px;
    line-height: 1;
    cursor: pointer;
    background-color: #ffb91a;
    font-weight: bold;

    &:hover {
      color: #000 !important;

      i {
        color: #000 !important;
      }
    }

    i.icon-home-nav {
      margin-right: 10px;
    }
  }

  .nav-left {
    width: 250px;
    float: left;
  }

  .nav-right {
    width: calc(100% - 250px);
    float: left;
    position: relative;

    .top-nav-horizontal {
      width: calc(100% - 165px);
      float: left;
      height: 33px;
      text-align: left;
      background-color: #ffd71a;

      .list-nav-horizontal {
        height: 33px;
        display: inline-table;
        padding-left: 20px;
      }

      .nav-horizontal-item {
        float: left;
        display: inline;
        padding: 2px 60px;
        padding-left: 0px;
        font-weight: bold;

        a {
          color: #333;
        }

        a:hover {
          color: #ff6600;
          text-decoration: none;
        }
      }

      @media (max-width: 992px) {
        .nav-horizontal-item {
          padding: 2px 10px;
        }
      }
    }

    .brand-button {
      width: 165px;
      float: right;
      height: 33px;
      line-height: 33px;
      padding: 0 15px;
      display: inline-block;
      background-color: #ffb91a;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: #FFF;
        color: #ff6600;

        .list_brands {
          display: block;
        }
      }
    }

    .list_brands {
      background-color: #FFFFFF;
      display: none;
      position: absolute;
      top: 33px;
      right: 0;
      width: calc(100% - 2px);
      z-index: 9999;
      padding-bottom: 15px;
      -webkit-box-shadow: 0 3px 8px rgba(3,3,3,0.26);
      -ms-box-shadow: 0 3px 8px rgba(3,3,3,0.26);
      box-shadow: 0 3px 8px rgba(3,3,3,0.26);
      max-height: 376px;
      overflow-y: auto;
    }

    .brand-name-item {
      float: left;
      width: 25%;
      padding: 0 15px;

      .brand-name {
        color: #333;

        &:hover {
          color: #ff6600;
          text-decoration: none;
        }
      }
    }
  }

  .list-categories {
    background-color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(21,38,50,0.06);
    top: 100%;
    bottom: auto;
    left: 0;
    right: auto;
    transform: none;
    width: 251px;
    position: absolute;
    z-index: 9;

    .category-box-item {
      z-index: 99;
    }

    .category-item::after {
      display: block;
      content: '';
      width: 33px;
      height: 33px;
      position: absolute;
      right: 0px;
      transform: rotate(45deg);
      top: 7px;
      right: -17px;
      z-index: 100;
    }

    .category-box-item:hover {
      background-color: #ff6600 !important;

      .category-item {
        background-color: #ff6600 !important;
        color: #fff !important;
      }

      .category-item::after {
        background-color: #ff6600 !important
      }
    }

    .category-item {
      transition-duration: 0s !important;
      background-color: #f4f4f4;
      position: relative;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      border-bottom: 1px solid #dfdfdf;
      border-left: 1px solid #dfdfdf;
      padding: 9px 15px 9px 20px;
      color: #333;
      z-index: 999;

      &:hover {
        color: #fff !important;
        text-decoration: none;
      }

      .custom-icon {
        line-height: 28px;
      }

      span {
        position: absolute;
        left: 48px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 60px);
      }
    }
  }

  .sub-menu-category {
    display: none;
    height: 376px;
    background-color: #FFF;
    position: absolute;
    left: 100%;
    top: 0;
    width: 700px;
    z-index: 99;
    -webkit-box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    -ms-box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    padding: 9px 0 9px 20px;
    overflow-y: auto;

    .sub-menu-item {
      margin: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      outline: none;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      a {
        color: #333;
      }

      a:hover {
        text-decoration: none;
        color: #ff6600;
      }
    }

    li {
      padding: 0 15px;
      width: 33%;
      float: left;
    }
  }

  .category-box-item:hover > .sub-menu-category {
    display: block !important;
  }
}

.list-menu-horizontal {
  border-style: solid;
  border: none;
  padding: 15px 0px 15px 0px;
  line-height: 1;

  .menu-horizontal-item {
    float: left;
    margin-left: 35px;
    cursor: pointer;

    &:hover {
      color: red !important;
    }
  }
}

@media (max-width: 768px) {
  .nav-menu-button {
    width: 100% !important;
  }
}

.custom-list-categories {
  display: none;
}
