a:hover {
  text-decoration: none !important;
}

.box-content {
  width: calc(100% - 251px);
  float: left
}

@media screen and (max-width: 767px) {
  .box-content {
    width: 100% !important;
  }
}

.product-detail-box {
  padding-top: 15px;
}

.short-description-detail {
  color: #333;
  overflow: hidden;
  position: relative;
  line-height: 2em;
  max-height: 12em;
  text-align: justify;
  margin-right: 0em;
  padding-right: 1.5em;
  padding-left: 2px;
  // border: 2px solid #ffd71a;
  // border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: whitesmoke;

  p {
    margin-bottom: 0 !important;
  }

  &:before {
    content: '. . .';
    position: absolute;
    right: 5px;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.2em;
    background: white;
  }
}

.product-info-content {
  height: 372px;
}

.change-price {
  color: red; /*#d3382e;*/
  font-size: 12px;
  line-height: 1.4;
  font-style: italic;
}

.video-des-create {
  height: 425px !important;
}

.custom-cart-button {
  text-align: left;
}

.entry-summary {
  margin-bottom: 0 !important;
}

.new-product-description {
  .tab-content {
    padding: 0 0 20px 0 !important;

    .panel {
      padding-top: 20px !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  p {
    margin-bottom: 5px !important;
  }
}

.size-14 {
  font-size: 14px !important;
}

.posted_in_custom {
  padding-left: 10px;

  a {
    display: inline-block;
    height: 21px;
    margin: 0 10px 0 0;
    padding: 0 7px 0 14px;
    white-space: nowrap;
    position: relative;
    font-size: 9px !important;

    background: -moz-linear-gradient(top, #fed970 0%, #febc4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a));
    background: -webkit-linear-gradient(top, #fed970 0%,#febc4a 100%);
    background: -o-linear-gradient(top, #fed970 0%,#febc4a 100%);
    background: linear-gradient(to bottom, #fed970 0%,#febc4a 100%);
    background-color: #FEC95B;

    color: #963;
    font: bold 11px/21px Arial, Tahoma, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.4);

    border-top: 1px solid #EDB14A;
    border-bottom: 1px solid #CE922E;
    border-right: 1px solid #DCA03B;
    border-radius: 1px 3px 3px 1px;
    box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);

    &:hover {
      text-decoration: none;
      color: #963 !important;
      text-shadow: -1px -1px 0 rgba(153,102,51,0.3);
    }
  }

  a:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -6px;
    width: 10px;
    height: 10px;

    background: -moz-linear-gradient(45deg, #fed970 0%, #febc4a 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fed970), color-stop(100%,#febc4a));
    background: -webkit-linear-gradient(-45deg, #fed970 0%,#febc4a 100%);
    background: -o-linear-gradient(45deg, #fed970 0%,#febc4a 100%);
    background: linear-gradient(135deg, #fed970 0%,#febc4a 100%);
    background-color: #FEC95B;

    border-left: 1px solid #EDB14A;
    border-bottom: 1px solid #CE922E;
    border-radius: 0 0 0 2px;
    box-shadow: inset 1px 0 #FEDB7C, 0 2px 2px -2px rgba(0,0,0,0.33);
    -webkit-transform: scale(1, 1.5) rotate(45deg);
    -moz-transform: scale(1, 1.5) rotate(45deg);
    -ms-transform: scale(1, 1.5) rotate(45deg);
    transform: scale(1, 1.5) rotate(45deg);
  }

  a:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 1px;
    width: 5px;
    height: 5px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #DCA03B;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
  }
}

.custom-white-space {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 15px !important;
  }
}

.single_product_wrapper {
  margin-top: 15px !important;
}

.social-network {
  float: right;
  padding-top: 6px;
  height: 44px;

  a {
    margin-left: 10px;
  }
}

.truncate-multiple {
  overflow: hidden;
  position: relative;
  line-height: 13px;
  max-height: 40px;
  text-align: initial;
  margin-right: 0em;
  padding-right: 1.5em;
  display: block;

  &:before {
    content: '. . .';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.2em;
    background: white;
  }
}

.page-title-custom {
  text-align: center !important;
  margin-top: 10px;
}

.box-content-custom {
  width: calc(100% + 15px);
}

.custom-price {
  font-size: 20px !important;
}

.custom-add-to-cart-button {
  font-size: 20px !important;
  color: red;

  &:focus {
    text-decoration: none;
  }
}

.btn-danger {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}

.woocommerce.single-product div.product .related {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.woocommerce.single-product div.product .related .product {
  margin-bottom: 0px !important;
}

.block_product_content {
  padding-bottom: 0px !important;
}

.view-more-custom-btn {
  font-weight: bold !important;
  border: none !important;
  padding: 10px 10px !important;
  text-transform: none !important;
}

#tab-description,
#tab-contact,
#view-more-blogs,
.blog-detail-custom {
  h1 {
    font-size: 20px !important;
  }

  h2, h3, h4 {
    font-size: 18px !important;
    text-transform: none !important;
    line-height: 0px !important;
  }
}

.blog-detail-custom {
  margin-top: 20px !important;
  .entry-content {
    text-align: justify !important;
  }
  .post img {
    max-height: 100% !important;
  }
}

#view-more-blogs {
  width: calc(100% + 15px) !important;
  .entry-content {
    margin-top: 20px;
  }

  a:hover {
    color: #ffd71a;
  }

  hr {
    margin: 5px 0 3px !important;
  }
}

.blogs-custom-new {
  min-height: 355px;
  h3:before {
    display: none;
  }

  .blog-content {
    margin-top: 20px !important;
  }

  .img-block {
    height: 188px !important;
    a, img {
      width: 100% !important;
      height: 188px !important;
    }
  }

  .img-block-custom {
    display: table-cell;
    vertical-align: middle;
    img {
      height: 88px !important;
      width: 100% !important;
    }
  }

  .blog-empty {
    margin-left: 15px;
  }
}

#suggestion-blogs {
  .blog-title, .blog-list {
    padding: 0 !important;
  }
}

.widget-custom {
  .title {
    text-transform: none;
    text-align: center;
    margin-bottom: 0px !important;
    padding-top: 10px;
  }

  h3 {
    text-transform: none !important;
    padding-top: 0px !important;
    text-align: center !important;
    &:before {
      display: none !important;
    }
  }
}
