<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <div></div>
      <h1>500</h1>
    </div>
    <h2>Không có trang này</h2>
    <p>Trang bạn đang tìm kiếm có thể đã bị xóa hoặc tạm thời không khả dụng.</p>
    <%= link_to "Trang chủ", root_url %>
  </div>
</div>
