<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Tên</strong> </br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="row show-grid">
  <div class="form-group form-group-part col-xs-12">
    <strong>Type</strong> </br>
    <%= f.text_field :custom_type, class: "form-control" %>
  </div>
</div>
