<div id="sidebar" class="col-xs-12 col-lg-2 col-lg-pull-10 sidebar widget-area sidebar category-product" role="complementary">
  <aside id="tm_willard_products-4" class="widget woocommerce tm_willard_widget_products">
    <h2 class="widget-title title-font-em">Danh mục</h2>
    <aside class="aside-1">
      <div class="aside-panel aside-categories">
        <div class="as-panel-body">
          <div class="uk-accordion" data-uk-accordion="">
            <% @categories.each do |category| %>
              <h3 class="uk-accordion-title as-heading-2">
                <%= link_to category.first.name, product_category_path(category.first), title: "#{category.first.name}" %>
              </h3>
              <% if category.second.present? %>
                <div data-wrapper="true" style="overflow:hidden;height:0;position:relative;" aria-expanded="false">
                  <div class="uk-accordion-content as-body">
                    <ul class="uk-list uk-clearfix">
                      <% category.second.each_with_index do |sub_category, j| %>
                        <li>
                          <%= link_to sub_category.first.name, product_category_path(sub_category.first), title: "#{sub_category.first.name}" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </aside>
    <% if @brands %>
      <aside id="tag_cloud-5" class="widget widget_tag_cloud">
        <h5 class="widget-title">Hãng</h5>
        <div class="tagcloud">
          <% @brands.each do |brand| %>
            <%= link_to brand.name, product_brand_path(brand, category_id: params[:category_id]),
              class: "tag-link-99 tag-link-position-1 #{'tag-active' if brand.id == params[:brand_id].to_i}"%>
          <% end %>
        </div>
      </aside>
    <% end %>
    <%= render "left_new_product"%>
  </aside>
</div>
