<div class="related products">
  <h5>Sản phẩm liên quan</h5>
  <div class="swiper-carousel-container">
    <div id="swiper-carousel-59e9bc5f37e5e" class="tm-willard-carousel swiper-container swiper-container-horizontal" style="cursor: -webkit-grab;">
      <div class="row">
        <% @related_products_1.each do |product| %>
          <div class="col-sm-4">
            <%= render "pages/product_field", product: product %>
          </div>
        <% end %>
        <% @related_products_2.each do |product| %>
          <div class="col-sm-4">
            <%= render "pages/product_field", product: product %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    <div id="swiper-carousel-59e9bc5f37e5e-next" class="swiper-button-next button-next swiper-button-disabled" style="display: block;"></div>
    <div id="swiper-carousel-59e9bc5f37e5e-prev" class="swiper-button-prev button-prev swiper-button-disabled" style="display: block;"></div>
  </div>
</div>
