<div class="related products">
  <div class="typical-products-title brand-title">
    <p class="typical-product-brand">Sản phẩm liên quan</p>
  </div>
  <div class="swiper-carousel-container">
    <div id="swiper-carousel-59e9bc5f37e5e" class="tm-willard-carousel swiper-container swiper-container-horizontal" style="cursor: -webkit-grab;">
      <div class="row">
        <% @related_products_1.each do |product| %>
          <div class="col-sm-4">
            <%= render "pages/product_field", product: product %>
          </div>
        <% end %>
        <% @related_products_2.each do |product| %>
          <div class="col-sm-4">
            <%= render "pages/product_field", product: product %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    <div class="col-xs-12 text-center">
      <%= link_to category_products_path(@product.categories.first), class: "btn btn-primary" do %>
        Xem thêm
      <% end %>
    </div>
  </div>
</div>
